.Container{
    display:flex;
    flex-direction: column;
    width:60%;
    margin-left:20%;
    margin-top: 5%;
    border: 0.5px solid darkgrey;
    align-items: center;
}
input#valueIn {
    padding: 5px;
    width: 44%;
}
p.text3 {
    margin-top: -5%;
    margin-bottom: 14%;
}
#Wr{
    color:red;
    display:none;
}
#Test{
    color:green;
    display:none;
}

 @media (max-width: 300px) {
    .Container{
        width:60%;
        margin-left:20%;
        margin-top:100px;
        border: 1px solid darkgrey;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    input#valueIn {
        padding: 5px;
        width: 44%;
    }
    p.text3 {
        margin-top: -5%;
        margin-bottom: 14%;
    }
    #Wr{
        color:red;
        display:none;
    }
    #Test{
        color:green;
        display:none;
    }
}
@media (min-width: 301px) and (max-width: 576px) {
    .Container{
        width:60%;
        margin-left:20%;
        margin-top:100px;
        border: 1px solid darkgrey;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    input#valueIn {
        padding: 5px;
        width: 44%;
    }
    p.text3 {
        margin-top: -5%;
        margin-bottom: 14%;
    }
    #Wr{
        color:red;
        display:none;
    }
    #Test{
        color:green;
        display:none;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .Container{
        width:60%;
        margin-left:20%;
        margin-top:100px;
        border: 1px solid darkgrey;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    input#valueIn {
        padding: 5px;
        width: 44%;
    }
    p.text3 {
        margin-top: -5%;
        margin-bottom: 14%;
    }
    #Wr{
        color:red;
        display:none;
    }
    #Test{
        color:green;
        display:none;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .Container{
        width:60%;
        margin-left:20%;
        margin-top:100px;
        border: 1px solid darkgrey;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    input#valueIn {
        padding: 5px;
        width: 44%;
    }
    p.text3 {
        margin-top: -5%;
        margin-bottom: 14%;
    }
    #Wr{
        color:red;
        display:none;
    }
    #Test{
        color:green;
        display:none;
    }
}
@media (min-width: 993px) and (max-width: 120px) {
    .Container{
        width:60%;
        margin-left:20%;
        margin-top:100px;
        border: 1px solid darkgrey;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    input#valueIn {
        padding: 5px;
        width: 44%;
    }
    p.text3 {
        margin-top: -5%;
        margin-bottom: 14%;
    }
    #Wr{
        color:red;
        display:none;
    }
    #Test{
        color:green;
        display:none;
    }
} 